* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

.padre {
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-columns: 30% 70%;
    width: 70%;
}

.hijo_1 {
    width: 100%;
    background-color: rgba(246, 145, 29, 255);
}

.llineas {
    background: repeating-linear-gradient(to bottom,
            #000 0%,
            #000 3%,
            transparent 3%,
            transparent 6%);
    width: 51%;
}

.ava {
    position: relative;
    left: -25%;
}

img {
    width: 50%;
    border-radius: 70%;

}

.img {
    object-fit: cover;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 15%;
}

.linea {
    padding-left: 11%;
    padding-bottom: 5%;

}

.aptitudes {
    display: inline-block;
    border-top: 4px solid white;
    padding-top: 5px;
    font-size: 24px;
    color: white;
    width: 8%;
    border-radius: 8%;
}

.lista {
    color: white;
}

h1 {
    color: rgba(58, 58, 58, 255);
    font-size: 300%;
}

.hijo_2 {
    padding-left: 3%;
    padding-top: 3%;
}

.img_u {
    width: 4%;
    padding: 0.5%;
}

.h_4,
.h_5,
.h_6 {
    font-size: 150%;
    display: flex;
    align-items: center;
    gap: 1%;
    padding: 1%;
    width: 100%;
    padding-top: 1%;
}

.lis_iz {
    width: 100%;
}

.lis_de {
    width: 100%;
    color: black;
    margin-top: 2%;
}

.tex_1 {
    display: inline-block;
    border-top: 4px solid rgba(246, 145, 29, 255);
    padding-top: 0.5%;
    font-size: 150%;
    color: rgba(246, 145, 29, 255);
    width: 3%;
    border-radius: 8%;
}

.tt {
    width: 1500%;
}

.lis_d_1 {
    color: black;
    padding-left: 3%;
    padding-bottom: 3%;
}

.tex_2 {
    display: inline-block;
    border-top: 4px solid rgba(246, 145, 29, 255);
    padding-top: 0.5%;
    font-size: 150%;
    color: rgba(246, 145, 29, 255);
    width: 3%;
    border-radius: 8%;
}

.ttex {
    width: 80%;
    padding-bottom: 3%;
    padding-top: 3%;
}

.w {
    padding-top: 2%;
    padding-bottom: 2%;
}

.ww {
    font-weight: bold;
    padding-bottom: 2%;
    padding-top: 2%;
}

.www {
    font-weight: bold;
    padding-bottom: 2%;
    color: black;
}

@media (max-width: 1024px) {
    .padre {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .padre {
        grid-template-columns: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 2rem;
    }

    .hijo_2 {
        text-align: center;
        padding-left: 0%;
    }

    .linea {
        display: flex;
        justify-content: center;
        padding-left: 0%;
    }

    .aptitudes {
        display: flex;
        justify-content: center;
    }

    .tex {
        display: flex;
        justify-content: center;
    }

    .rr {
        display: flex;
        justify-content: center;
    }

    .gg {
        padding-bottom: 3%;
    }

    .h_4,
    .h_5,
    .h_6 {
        font-size: 120%;
        gap: 2%;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
    }

}


@media (max-width: 500px) {
    .padre {
        grid-template-columns: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 2rem;
    }

    .hijo_2 {
        text-align: center;
        padding-left: 0%;
    }

    .linea {
        display: flex;
        justify-content: center;
        padding-left: 0%;
    }

    .aptitudes {
        display: flex;
        justify-content: center;
    }

    .tex {
        display: flex;
        justify-content: center;
    }

    .rr {
        display: flex;
        justify-content: center;
    }

    .gg {
        padding-bottom: 3%;
    }

    .h_4,
    .h_5,
    .h_6 {
        font-size: 120%;
        gap: 2%;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media (max-width: 480px) {
    .padre {
        grid-template-columns: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 2rem;
    }

    .hijo_2 {
        text-align: center;
    }

    .linea {
        display: flex;
        justify-content: center;
        padding-left: 0%;
    }

    .aptitudes {
        display: flex;
        justify-content: center;
    }

    .tex {
        display: flex;
        justify-content: center;
    }

    .rr {
        display: flex;
        justify-content: center;
    }

    .gg {
        padding-bottom: 3%;
    }

    .h_4,
    .h_5,
    .h_6 {
        font-size: 120%;
        gap: 2%;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .tex_u{
        font-size: 90%;
    }

}


@media (max-width: 400px) {
    .padre {
        grid-template-columns: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 2rem;
    }

    .hijo_2 {
        text-align: center;
    }

    .linea {
        display: flex;
        justify-content: center;
        padding-left: 0%;
    }

    .aptitudes {
        display: flex;
        justify-content: center;
    }

    .tex {
        display: flex;
        justify-content: center;
    }

    .rr {
        display: flex;
        justify-content: center;
    }

    .gg {
        padding-bottom: 3%;
    }

    .h_4,
    .h_5,
    .h_6 {
        font-size: 120%;
        gap: 2%;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .aptitudes {
        display: flex;
        justify-content: center;
    }

    .tex {
        display: flex;
        justify-content: center;
    }

    .h_4,
    .h_5,
    .h_6 {
        font-size: 0.9rem;
        gap: 5%;
        text-align: center;
        flex-direction: column;
    }

    .img_u {
        width: 12%;
        padding: 1.5%;
    }

    .llineas {
        width: 90%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .padre {
        grid-template-columns: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 2rem;
    }

    .hijo_2 {
        text-align: center;
    }

    .linea {
        display: flex;
        justify-content: center;
        padding-left: 0%;
    }

    .aptitudes {
        display: flex;
        justify-content: center;
    }

    .tex {
        display: flex;
        justify-content: center;
    }

    .rr {
        display: flex;
        justify-content: center;
    }

    .gg {
        padding-bottom: 3%;
    }

    .h_4,
    .h_5,
    .h_6 {
        font-size: 120%;
        gap: 2%;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .tex_u{
        font-size: 90%;
    }
}



@media (max-width: 300px) {
    .padre {
        grid-template-columns: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 2rem;
    }

    .hijo_2 {
        text-align: center;
    }

    .linea {
        display: flex;
        justify-content: center;
        padding-left: 0%;
    }

    .aptitudes {
        display: flex;
        justify-content: center;
    }

    .tex {
        display: flex;
        justify-content: center;
    }

    .rr {
        display: flex;
        justify-content: center;
    }

    .gg {
        padding-bottom: 3%;
    }

    .h_4,
    .h_5,
    .h_6 {
        font-size: 120%;
        gap: 2%;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .tex_u{
        font-size: 90%;
    }

}